.background {
    background-color: rgba(128, 128, 128, 0.5);
}

.card {
    background-color: rgba(242, 242, 242, 0.7);
}

a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}