<div class="container-fluid d-flex justify-content-center align-items-center h-100 background">
    <div class="col-sm-8 col-md-6 d-flex justify-content-center align-items-center">
        <div class="card col-sm-11 col-md-9 mb-3">
            <div class="card-body p-4">
                <h1 class="card-title p-2 display-6 text-left mb-4">Login</h1>
                <form-component></form-component>
            </div>
            <div class="card-footer p-1 text-body-secondary text-center">
                <p class="p-card-footer my-3"><a routerLink="/register" class="link-opacity-75">Register</a></p>
            </div>
            <div class="card-footer p-1 text-body-secondary text-center">
                <p class="p-card-footer my-3"><a routerLink="/forgot-password" class="link-opacity-75">forgot-password?</a></p>
            </div>
        </div>
    </div>
</div>