.background {
    background-color: rgba(242, 242, 242, 0.9);
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.userImage {
    border-radius: 50%;
    border: 10px solid rgba(200, 200, 200, 0.9);
}